<template>
    <div>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group id="input-group-1" label="Emailová adresa" label-for="input-1" description="We'll never share your email with anyone else.">
                <b-form-input id="input-1" v-model="form.email" type="email" required placeholder="Zadejte email"></b-form-input>
            </b-form-group>
    
            <b-form-group id="input-group-2" label="Heslo" label-for="input-2">
                <b-form-input id="input-2" v-model="form.password" required placeholder="Zadejte Heslo"></b-form-input>
            </b-form-group>
    
    
    
    
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
        </b-card>
    </div>
</template>

<script lang="ts">
import BootstrapVue from 'bootstrap-vue';
import Vue from 'vue';
//import '/bootstrap/dist/css/bootstrap.css;';
//import '/bootstrap-vue/dist/bootstrap-vue.css';
import Component from 'vue-class-component';
Vue.use(BootstrapVue)

// The @Component decorator indicates the class is a Vue component
@Component({
    // All component options are allowed in here

})
export default class LoginForm extends Vue {
    // Initial data can be declared as instance properties

    public form: {
        email: string,
        password: string,
    } = {
        email: '',
        password: '',
    };



    public onSubmit(evt: any) {
        evt.preventDefault();
        alert(JSON.stringify(this.form));
    }
    public onReset(evt: any) {
        evt.preventDefault();
        // Reset our form values
        this.form.email = '';
        this.form.password = '';


    }
    // Component methods can be declared as instance methods

}
</script>