<template>
    <div>
        <b-card no-body>
            <b-tabs pills card>
                <b-tab title="Login" active>
                    <b-card-text>Tab contents 1</b-card-text>
                </b-tab>
                <b-tab title="Refister">
                    <b-card-text>Tab contents 2</b-card-text>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script lang="ts">
import BootstrapVue from 'bootstrap-vue';
import Vue from 'vue';
//import '/bootstrap/dist/css/bootstrap.css';
//import '/bootstrap-vue/dist/bootstrap-vue.css';
import Component from 'vue-class-component';
import LoginForm from './form/login.vue';

Vue.use(BootstrapVue)
// The @Component decorator indicates the class is a Vue component
@Component({
    // All component options are allowed in here
    components: {
        LoginForm,
    },

})
export default class Form extends Vue {
    // Initial data can be declared as instance properties

}
</script>